.App-title{
  color: white;
  font-size: 2em;
  font-weight: normal;
}

#task-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

#add-button {
  margin-bottom: 80px;
  width: 20%;
  height: 50px;
  background-color: #52e4c0;
  color: #253044;
  border: none;
}

#add-button:hover {
  background-color: #59fad5;
  cursor: pointer;
}
