.Task {
    padding: 7px;
    background-color: #f1f1f1;
    box-shadow: -3px 5px 8px 4px #00000038;
    width: 800px;
    position: relative;
    color: black;
    height: 50px;
    margin-top: 25px
}

.Task h3{
    width: 50%;
    position: absolute;
    left: 25px;
    text-align: left;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
}

input {
    width: 25px;
    height: 25px;
    top: 0;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    right: 25px;
    margin-bottom: auto;
}

.badge{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    line-height: 20px;
    cursor: pointer;
}